app = 'rockcut-api'
primary_region = 'dfw'

[build]

[env]
  PHX_HOST = "rockcut-api.fly.dev"
  PORT = "4000"
  DATABASE_PATH = "/data/rockcut_api.db"

[mounts]
  source = "rockcut_data"
  destination = "/data"

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 1000

[[http_service.checks]]
  grace_period = "30s"
  interval = "15s"
  method = "GET"
  timeout = "5s"
  path = "/api/health"

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
